body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0ede4283;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0ede4283;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

#audioFile {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#transcript {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0ede4283;
    border-radius: 5px;
}

#wordList {
    margin-top: 20px;
}

#error {
    color: red;
}
